.carouselBackground{
    background-color: blue;
    height: 200px;
    width: 100%;
}
.carouselForegroundLeft{
    display: inline-block;
    background-color: green;
    height: 100%;
    width: 25%;
}
.carouselDivider{
    display: inline-block;
    background-color: red;
    height: 100%;
    width: 5%;
}
.carouselForegroundRight{
    display: inline-block;
    background-color: yellow;
    height: 100%;
    width: 25%;
}