button:focus {
    outline:0;
}
.apps_carousel_top{
    width: 100%;
    height: 50px;
    background-color: #202020;
}
.apps_carousel_main{
    background-color: #353535;
    background-color: white;  /*temp*/
    width: 100%;
    height: 300px;
}
.apps_carousel{
    overflow: visible;
}
.apps_carousel{
    position: absolute;
    /*position: relative;*/
    width: 400px;
    height: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: visible;
}
#image_container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*each image should be
    -100% of the width of the container
    -positioned absolutely
    -left and top at 0*/
#image_container img{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}
/*styling of buttons*/
button.prev_button, button.next_button{
    position: absolute;
    width: 15%;
    height: 100%;
    /*border-color: #740000;*/
    border: 1px solid #740000;
    margin: 0;
    padding: 0;
    font-size: 2em;
    transition-duration: 750ms;
}
button.next_button{
    background-color: rgba(255,255,255,0);
    border: hidden;
}
.skewed{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 15%;
    display: inline-block;
    background-color: red;
    box-sizing: border-box;
    box-shadow: -3px -3px 2px 1px #A00000 inset, 1px 1px 3px 1px #000000;
}
.prev_button{
    left: 0;
    transform: skewX(-10deg) translate(-50%);
    /*border: 1px solid;*/
    z-index: 4;
}
.next_button{
    right: 0;
    z-index: 4;
    transform: translate(50%);
}
.next_btn_part{
    height: 100%;
}
.next_button .skewed{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform: skewX(-10deg);
    border: 1px solid #740000;
}
/*for highlighting purposes the color is separated out. possibly all could be moved out*/
.circle{
    background-color: red;
    box-sizing: border-box;
}
.next_button .circle{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    right: 0;
    top: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    /*background-color: red;*/
    border-radius: 100%;
    transform: rotate(10deg) translate(-70%, -50%);
    z-index: 2;
    border-style: solid;
    /*border-color: black;*/
    border-color: #740000;
    border-width: 0 0 0 1px;
    box-shadow: 0 0 3px 3px #A00000 inset;
    /*box-shadow: 0 5px 5px 5px gray;*/
    /*box-shadow: 0 8px 6px -6px black;*/
}
/*.semicircle{
    background-color: red;
    box-sizing: border-box;
}*/
.semicircle{
    background-color: red;
    box-sizing: border-box;

    position: absolute;
    vertical-align: middle;
    text-align: center;
    right: 0;
    top: 50%;
    display: inline-block;
    height: 50px;
    width: 25px;
    border-radius: 50px 0 0 50px;
    transform: rotate(10deg) translate(-62px, -50%);
    z-index: 2;
    border-style: solid;
    /*border-color: black;*/
    border-color: #740000;
    border-width: 1px 0 1px 1px;
    box-shadow: -3px 0 3px -4px black;
}

.prev_button:hover, .highlighted_button{
    background-color: #BB0000;
    transition-duration: 500ms;
    
}
.prev_button:hover, .highlighted_button.skewed{
    box-shadow: -3px -3px 2px 1px #800000 inset
}
.highlighted_button.semicircle{
    box-shadow: none;
}
/*.highlighted_button{
    background-color: #BB0000;
    transition-duration: 500ms;
}*/
.number_bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding-left: 15px;
    background-color: black;
    z-index: 3;
}
.nav_number{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 5%;
    margin: 5px;
    transform: skewX(-10deg);
    color: black;
    background-color: white;
}
/*only for color change*/
.active_nav_number{
    color: white;
    background-color: red;
}

/*animations*/
/* Chrome, Safari, Opera */
@-webkit-keyframes prev_image_in {
    0%   {left: -100%}
    25%  {left: -75%}
    50%  {left: -50%}
    75%  {left: -25%}
    100% {left: 0}
}
/* Standard syntax */
@keyframes prev_image_in {
    0%   {left: -100%}
    25%  {left: -75%}
    50%  {left: -50%}
    75%  {left: -25%}
    100% {left: 0}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes prev_image_out {
    0%   {left: 0}
    25%  {left: 25%}
    50%  {left: 50%}
    75%  {left: 75%}
    100% {left: 100%}
}
/* Standard syntax */
@keyframes prev_image_out {
    0%   {left: 0}
    25%  {left: 25%}
    50%  {left: 50%}
    75%  {left: 75%}
    100% {left: 100%}
}



/*classes involving navigation dots*/
.dot_container{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: inline-block;
}
.dot{
    display: inline-block;
    /*position: absolute;*/
    right: 50%;  /*for testing only*/
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 10px;
    /*background-color: yellow;*/
    background-color: transparent;
}
.inactive_dot{
    background-color: transparent;
}
.active_dot{
    background-color: white;
}

