@keyframes shrink{
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block;
  }
  99%{
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  100%{
    display: none;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
}
@keyframes grow{
  0%{
    display: none;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  1%{
    display: inline-block;
    -webkit-transform: scale(0.0001);
    transform: scale(0.0001);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block;
  }
}
@keyframes slide-in{
  0%{
    visibility: hidden;
    transform: translateX(-100%);
  }
  1%{
    visibility: visible;
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes tech-deselect{
  from{
    transform: translateX(250%) scale(1.25);
  }
  to{
    transform: translate(12.5em);
  }
}
@-webkit-keyframes tech-deselect{
  from{
    -webkit-transform: translateX(250%) scale(1.25);
  }
  to{
    -webkit-transform: translate(12.5em);
  }
}