button.link_btn, .link_btn > input {
    color: #101010;
    margin: 0 10px;
    font-weight: bold;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    border: none;
    -webkit-border-radius:0;
    border-radius:0;
    &:hover{
        color: darkgray;
    }
}
//specific button coloring and shadowning
.github > input, .send{
    background-color: red;
    box-shadow: -3px -3px 2px 1px #cd0000 inset, 1px 1px 1px 1px #000000;
    &:hover{
        box-shadow: -3px -3px 2px 1px #9b0000 inset, 1px 1px 1px 1px #000000;
    }
}
.live > input{
    background-color: orangered;
    box-shadow: -3px -3px 2px 1px #cd1300 inset, 1px 1px 1px 1px #000000;
    &:hover{
        box-shadow: -3px -3px 2px 1px #9b0000 inset, 1px 1px 1px 1px #000000;
    }
}
.close_modal, .description{
    background-color: #FFBB00;
    box-shadow: -3px -3px 2px 1px #e19d00 inset, 1px 1px 1px 1px #000000;
    &:hover{
        color: dimgray;
        box-shadow: -3px -3px 2px 1px #af6b00 inset, 1px 1px 1px 1px #000000;
    }
}


// redone media queries
// device specific media queries

// /*portrait - iPad Pro*/
// @media screen 
// and (max-width: 1024px)
// and (max-height: 1366px)
// and (orientation: portrait){
// }

// /*landscape - iPad Pro*/
// @media screen 
// and (width: 1366px) 
// and (height: 1024px) {
// }

/*portrait - iPad*/
@media only screen 
and (min-width: 768px)
and (max-width: 1024px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    button.link_btn, .link_btn > input {
        font-size: 1.75em;
    }
}
/*landscape - iPad*/
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2){
    button.link_btn, .link_btn > input {
        font-size: 1.25em;
    }
}

/*portrait - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen
and (orientation: portrait) 
and (max-width: 736px) 
// and (min-height: 601px) 
and (max-height: 1743px) 
and (-webkit-min-device-pixel-ratio: 2){

}
/*landscape - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen 
and (orientation: landscape) 
and (max-width: 736px) 
// and (min-height: 351px) 
and (max-height: 555px)
and (-webkit-min-device-pixel-ratio: 2){

}

// /*portrait -  iPhone 5*/
// @media screen 
// and (orientation: portrait) 
// and (max-width: 980px) 
// and (max-height: 600px)
// and (-webkit-min-device-pixel-ratio: 2){
      
// }
// /*landscape - iPhone 5*/
// @media screen
// and (max-width: 980px) 
// and (max-height: 350px)
// and (orientation: landscape)
// and (-webkit-min-device-pixel-ratio: 2){
    
// }
