/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #202020;
    box-shadow: 1px 1px 2px 1px black;

    // pattern polygon{
    //     stroke: black;
    //     fill: #202020;
    // }

    /*area for name written in triangles*/
    #canvas{
        height: 60px;
        width: 225px;
        
        // place in here for grid effect only on letters
        // rect{
        //     stroke: black;
        // }                        
        // line{
        //     stroke: black;
        //     stroke-width: 1;
        // }

        #main{
            border: 1px solid black;

            // place in here for grid effect only on letters
            // rect{
            //     stroke: black;
            // }                        
            // line{
            //     stroke: #000000;
            //     stroke-width: 1;
            // }
            rect{
                stroke: black;
            }
            .name{
                fill: red;
                stroke: black;
            }

        }

        #inner_triangles{
            width: 50px; 
            height: 86px;

            rect{
                fill: #202020;
            }
            line{
                stroke: black;
                stroke-width: 1;
            }
        }
    }

    // navigation bar
    ul {
        position: absolute;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #202020;
        top: 0;
        right: 0;
        height: 100%;
        width: 65%;

        li {
            position: relative;
            float: left;
            height: 100%;
            width: 25%;
            margin: 0;
            display: block;
            color: white;
            text-decoration: none;
            line-height: 100%;
            cursor: pointer;

            &:hover {
                background-color: #353535;
            }
            span {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }
}

@media (max-width: 640px){
    header {
        ul {
            width: 50%;
            font-size: .75em;
            li{
                span{
                }
            }
            
        }
    }
}

// /*specific media queries*/
// /*portrait - iPad Pro*/
// @media screen and (orientation: portrait) and (width: 1024px) and (height: 1366px){

// }
// /*landscape - iPad Pro*/
// @media screen and (width: 1366px) and (height: 1024px) {

// }
// /*portrait - iPad*/
// @media screen and (width: 980px) and (height: 1306px) {
//     header {
//         ul {
//             width: 50%;
//             font-size: .75em;
//             li{
//                 span{
//                 }
//             }
//         }
//     }
// }
// /*landscape - iPad*/
// @media screen and (width: 1306px) and (height: 980px) {
//     header {
//         ul {
//             width: 50%;
//             font-size: .75em;
//             li{
//                 span{
//                 }
//             }
//         }
//     }
// }
// /*portrait -  iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
// @media screen and (width: 980px) and (min-height: 556px) and (max-height: 1743px) {
//     header {
//         height: 7%;
//         ul {
//             li{
//                 span{
//                     font-size: 24px;
//                     line-height: 100%;
//                 }
//             }
//         }
//     }
// }
// /*landscape - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
// @media screen and (width: 980px) and (max-height: 555px){

// }


// redone media queries
// device specific media queries

// /*portrait - iPad Pro*/
// @media screen 
// and (max-width: 1024px)
// and (max-height: 1366px)
// and (orientation: portrait){
// }

// /*landscape - iPad Pro*/
// @media screen 
// and (width: 1366px) 
// and (height: 1024px) {
// }

/*portrait - iPad*/
@media only screen 
and (min-width: 768px)
and (max-width: 1024px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    header{
        height: 7%;
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            width: 60%;
            font-size: 1.5em;
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }
}
/*landscape - iPad*/
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2){
    header{
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }
}

/*portrait -  iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen
and (orientation: portrait) 
and (max-width: 736px) 
and (min-height: 601px) 
and (max-height: 1743px) 
and (-webkit-min-device-pixel-ratio: 2){
    header{
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }    
}
/*landscape - iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen 
and (orientation: landscape) 
and (max-width: 736px) 
and (min-height: 351px) 
and (max-height: 555px)
and (-webkit-min-device-pixel-ratio: 2){
    header{
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }    
}

/*portrait -  iPhone 5*/
@media screen 
and (orientation: portrait) 
and (max-width: 980px) 
and (max-height: 600px)
and (-webkit-min-device-pixel-ratio: 2){
    header{
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }    
}
/*landscape - iPhone 5*/
@media screen
and (max-width: 980px) 
and (max-height: 350px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2){
    header{
        // area for name written in triangles
        #canvas{
            #main{
                rect{
                }
                .name{
                }

            }
            #inner_triangles{
                rect{
                }
                line{
                }
            }
        }
        // navigation bar
        ul {
            li {
                &:hover {
                }
                span {
                }
            }
        }
    }    
}
