/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #202020;
    z-index: 6;
    box-shadow: 1px 1px 2px 1px black;

    // pattern polygon{
    //     stroke: black;
    //     fill: #202020;
    // }

    /*area for name written in triangles*/
    #canvas{
        height: 60px;
        width: 225px;
        
        // place in here for grid effect only on letters
        // rect{
        //     stroke: black;
        // }                        
        // line{
        //     stroke: black;
        //     stroke-width: 1;
        // }

        #main{
            border: 1px solid black;

            // place in here for grid effect only on letters
            // rect{
            //     stroke: black;
            // }                        
            // line{
            //     stroke: #000000;
            //     stroke-width: 1;
            // }
            rect{
                stroke: black;
            }
            .name{
                fill: red;
                stroke: black;
            }

        }

        #inner_triangles{
            width: 50px; 
            height: 86px;

            rect{
                fill: #202020;
            }
            line{
                stroke: black;
                stroke-width: 1;
            }
        }
    }

    // navigation bar
    ul {
        position: absolute;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #202020;
        top: 0;
        right: 0;
        height: 100%;
        width: 65%;

        li {
            position: relative;
            float: left;
            height: 100%;
            width: 25%;
            margin: 0;
            display: block;
            color: white;
            text-decoration: none;
            line-height: 100%;

            &:hover {
                background-color: #353535;
            }
            span {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}


@media (max-width: 640px){
    header ul{
        width: 50%;
        font-size: .75em;
    }
}