// sidenav
#sidenav{
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    .menu{
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: -100%;
        transition: all 0.5s ease-in;
        background-color: #5d5757;
        // background-image: url('../resources/dark-leather.png');
        box-sizing: border-box;
        font-family: Damion;
        h1{
            text-shadow: 2px 2px 1px #252525;
        }
        ul{
            li{
                
            }
        }
        // h1{
        //     font-size: 3em;
        //     text-align: center;
        // }
        // h2{
        //     margin-left: 5%;
        // }
    }
    &.menu_open{
        display: inline-block;
        visibility: visible;
        .menu{
            left: 0;
            border-right: 3px solid #383333;
            box-shadow: 2px 2px 15px 0 black;
        }
        .background{
            display: inline-block;
        }
    }
    .background{
        height: 100%;
        width: 100%;
        background-color: #111111;
        opacity: 0.75;
        z-index: 9;
        display: none;
        top: 0;
        position: absolute;
    }
}