/*styling for about*/
.about p{
    color: white;
    margin: 10px;
    font-size: 1em;
}

// *********************************************************************************
// *********************************************************************************


// revised media queries
// device specific media queries

// smaller phones - iPhone 5, galaxy s5
// portrait mode
@media screen 
and (orientation: portrait) 
and (max-width: 360px) 
and (-webkit-min-device-pixel-ratio: 2){
    
}
// landscape mode
@media screen
and (orientation: landscape)
and (max-width: 640px) 
and (-webkit-min-device-pixel-ratio: 2){
 
}

// *********************************************************************************

// larger phones - iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X
// portrait mode
@media screen
and (orientation: portrait) 
and (min-width: 361px) 
and (-webkit-min-device-pixel-ratio: 2){
}
// landscape mode
@media screen 
and (orientation: landscape) 
and (min-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2){
  
}

// *********************************************************************************

// smaller tablet sizes - Nexus 7, iPad mini, iPad
// portrait mode
@media only screen 
and (orientation: portrait)
and (min-width: 600px)
and (-webkit-min-device-pixel-ratio: 2){
    .about p{
        font-size: 1.75em;
    }
}
// landscape mode
@media only screen 
and (orientation: landscape)
and (min-width: 960px) 
and (-webkit-min-device-pixel-ratio: 2){
    .about p{
        font-size: 1.5em;
    }
}

// *********************************************************************************

// large tablet sizes - iPad pro
// portrait mode
@media screen 
and (orientation: portrait)
and (min-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2){

}
// landscape mode
@media screen
and (orientation: landscape)
and (min-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
    .about p{
        font-size: 2em;
    }
}

