/*styling for about*/
.about p{
    color: white;
    margin: 10px;
}

/*specific media queries*/
/*portrait - iPad Pro*/
@media screen and (orientation: portrait) and (width: 1024px) and (height: 1366px){

}
/*landscape - iPad Pro*/
@media screen and (width: 1366px) and (height: 1024px) {

}
/*portrait - iPad*/
@media screen and (width: 980px) and (height: 1306px) {

}
/*landscape - iPad*/
@media screen and (width: 1306px) and (height: 980px) {

}
/*portrait -  iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (max-height: 1743px) {
    .about p{
        font-size: 24px;
    }
}
/*landscape - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (min-height: 550px) and (max-height: 555px){

}
