// aspect ratio for apps pics
// $aspect_ratio: 960 / 475 * 100%;
$aspect_ratio: 475 / 960 * 100%;

// area above the app carousel
.apps_carousel_top{
    width: 100%;
    height: 10%;
    background-color: #202020;
    box-shadow: 1px 1px 3px 1px #000000;

    .link_btn_container{
        position: relative;
        display: inline-block;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        form{
            display: inline-block;
        }
    }
}

// the main area of the app carousel
.apps_carousel_main{
    position: relative;
    background-color: #151515;
    width: 100%;
    height: 80%;
    box-shadow: 0 10px 10px -10px black inset, 0 -10px 10px -10px black inset;

    .apps_carousel{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        // overflow: hidden;

        .cover{
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 10%;
            background-color: #101010;
            left: 0;
            z-index: 2;
        }
        .image_container{
            position: absolute;
            display: inline-block;
            width: auto;
            height: 100%;
            left: 10%;

            img{
                position: absolute;
                display: inline-block;
                width: auto;
                height: 100%;
                
                top: 0;
                left: 0;
                visibility: hidden;
                // z-index: 1;
                &.spacer{
                    position: relative;
                    opacity: 0;
                }
                &.visible{
                    visibility: visible;
                }
            }
            &.gray{
                left: 10%;
                position: absolute;
                transform: translateX(100%);
                z-index: 1;
                background: #101010;
                // opacity: 0.7;
                // old
                // background: -webkit-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,1) 30%); /* For Safari 5.1 to 6.0 */
                // background: -o-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,1) 30%); /* For Opera 11.1 to 12.0 */
                // background: -moz-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,1) 30%); /* For Firefox 3.6 to 15 */
                // background: linear-gradient(to right, rgba(16,16,16,0.2), rgba(16,16,16,1) 30%); /* Standard syntax */
                // new
                background: -webkit-linear-gradient(left, rgba(21,21,21,0.2), rgba(21,21,21,1) ); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right, rgba(21,21,21,0.2), rgba(21,21,21,1) ); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right, rgba(21,21,21,0.2), rgba(21,21,21,1) ); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right, rgba(21,21,21,0.2), rgba(21,21,21,1) ); /* Standard syntax */
            }
            &.cover{
                left: 10%;
                position: absolute;
                transform: translateX(200%);
                z-index: 1;
                background: #151515;
            }
        }

        // styling of carousel buttons
        .skewed{
            position: absolute;
            width: 9%;
            height: 100%;
            top: 0;
            border: 1px solid #740000;
            margin: 0;
            padding: 0;
            font-size: 2em;
            display: inline-block;
            background-color: red;
            box-sizing: border-box;
            box-shadow: 2px 0 0 0 #111111,
                0 2px 0 0 #111111, 
                2px 2px 0 0 #111111;
            -webkit-transition-duration: 750ms;
            transition-duration: 750ms;
            cursor: pointer;
            z-index: 2;
            
            &.prev_button {
                left: 0;
                // z-index: 4;
                -webkit-transform: skewX(-5deg) translateX(-50%);
                transform: skewX(-5deg) translateX(-50%);
            }
            &.next_button {
                right: 0;
                // z-index: 4;
                -webkit-transform: skewX(-5deg) translateX(50%);
                transform: skewX(-5deg) translateX(50%);
            }
            // hover transitions
            &:hover{
                background-color: #BB0000;
                -webkit-transition-duration: 500ms;
                transition-duration: 500ms;
                box-shadow: none;
            }
            > .glyphicon {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        // number bar
        .number_bar{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 10%;
            
            background-color: black;
            z-index: 1;
            padding-left: 5%;
            box-sizing: border-box;

            .nav_number{
                position: relative;
                display: inline-block;
                height: 75%;
                width: 5%;
                margin: 0 5px;
                top: 25%;
                -webkit-transform: skewX(-5deg);
                transform: skewX(-5deg);
                color: black;
                background-color: white;
                box-shadow: -3px -3px 2px 1px #D0D0D0 inset;
                text-align: center;
                cursor: pointer;
                font-size: 1.75em;
                
                &.active_nav_number{
                    color: white;
                    background-color: red;
                    box-shadow: -3px -3px 2px 1px #A00000 inset;
                    font-weight: bold;
                }
            }
        }

    }
    
}

.apps_carousel_bottom{
    width: 100%;
    height: 10%;
    background-color: #202020;
    box-shadow: 1px 1px 3px 1px #000000;
}


/*specific media queries*/
/*portrait - iPad Pro*/
@media screen and (orientation: portrait) and (width: 1024px) and (height: 1366px){

}
/*landscape - iPad Pro*/
@media screen and (width: 1366px) and (height: 1024px) {

}
/*portrait - iPad*/
@media screen and (width: 980px) and (height: 1306px) {

}
/*landscape - iPad*/
@media screen and (width: 1306px) and (height: 980px) {

}
/*portrait -  iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (min-height: 1569px) and (max-height: 1743px) {
    // area above the app carousel
    .apps_carousel_top{
        .link_btn_container{
            form{
            }
        }
    }
    // the main area of the app carousel
    .apps_carousel_main{
        height: 50%;
        
        .apps_carousel{

            #image_container{

                img{

                }
            }

            // styling of carousel buttons
            .skewed{
                width: 9%;
            
                &.prev_button {
     
                }
                &.next_button {
                    
                }
                // hover transitions
                &:hover{
           
                }
                > .glyphicon {
           
                }
            }

            // number bar
            .number_bar{

                .nav_number{
                    
                    &.active_nav_number{
                  
                    }
                }
            }

        }
    }
}
/*landscape - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (min-height: 550px) and (max-height: 555px){
    // the main area of the app carousel
    .apps_carousel_main{
        
        .apps_carousel{
            width: 70%;
            #image_container{

                img{

                }
            }

            // styling of carousel buttons
            .skewed{
                width: 9%;
            
                &.prev_button {
     
                }
                &.next_button {
                    
                }
                // hover transitions
                &:hover{
           
                }
                > .glyphicon {
           
                }
            }

            // number bar
            .number_bar{
                height: 20%;

                .nav_number{

                    &.active_nav_number{
                  
                    }
                }
            }

        }
    }
}